.tx-fhbocontact-pi1 fieldset {
	padding: 0 15px 10px 15px;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}

.tx-fhbocontact-pi1 .contactform { 
	padding-top: 10px;
}

.tx-fhbocontact-pi1 fieldset label {
	padding: 4px 0 2px 0;
	line-height: 1.6em;
}

.tx-fhbocontact-pi1 .form-item {
	margin-bottom: 8px;
}


.tx-fhbocontact-pi1  INPUT.tx-fhbocontact-pi1-submit { 	
	margin-top: 10px;
	width:100px;
	border: 1px solid #cccccc;
	background: #eeeeee;
}

.tx-fhbocontact-pi1  INPUT.tx-fhbocontact-pi1-submit:active,
.tx-fhbocontact-pi1  INPUT.tx-fhbocontact-pi1-submit:focus  {
	color: #FFFFFF;
	background: #009DD5;
}

.tx-fhbocontact-pi1 .error {
	color: #cc1010;
	margin-bottom: 2px;
}

.tx-fhbocontact-pi1 .errorHeader {
	color: #cc1010;
	margin-bottom: 10px;
	font-weight: bold;
}